:root {
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    --primary-text-color: #rgba(46, 47, 66, 1);
    --title-text-color: #2E2F42;
    --secondary-text-color: rgba(67, 68, 85, 1);
    --accent-color: #E7E9FC;
    --primary-white-color: #ffffff;
    --primary-accent-color: rgba(64, 75, 191, 1);
    --footer-logo-color: #F4F4FD;
    --button-color: rgba(77, 90, 229, 1);
    --button-border: #E7E9FC;
    --footer-link-color: #31D0AA;
    --modal-text-color: #8E8F99;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    /* добавить самые частые значения (GAP 12+12px) и др.  для использования отрицательного значения (-1*var(--sdds-sd) */
}

body {
    margin: 0;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font);
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-text-color);
}

h1 {
    font-size: 56px;
    line-height: 1.07;
    color: var(--primary-white-color);
}

h2 {
    font-size: 36px;
    line-height: 1.1115;
    color: var(--title-text-color);
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
}

/* ДОБАВЬ ARIA-LABEL="" ко всем SVG*/
/* disables (dropset)*/
.section-features .heading,
.section-filter .heading,
.section-samples .heading,
.header .contacts {
    display: none;
}

.list {
    list-style: none;
}

.link,
.logo {
    text-decoration: none;
}

.container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.logo-web {
    color: var(--button-color);
}

.logo {
    color: var(--title-text-color);
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 1.173;
    letter-spacing: 0.03em;
}

/*header*/
.header {
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);

}

.studio,
.portfolio {
    position: relative;
}

.current-link::after {
    display: block;
    content: '';
    border-bottom: 4px solid var(--primary-accent-color);
    border-radius: 2px;
    left: 0;
    top: 44px;
    width: 100%;
    position: absolute;
}

/*buttons configuration*/

.btn {
    padding: 16px 32px;
    background-color: var(--button-color);
    color: var(--primary-white-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-color: var(--button-color);
    width: 169px;
    height: 56px;
    transition: background-color 250ms var(--transition-timing-function),
        border-color 250ms var(--transition-timing-function);
}

.btn-modal {
    border: none;
    box-shadow: 0px 4px 4px 0px #00000026;
}

button {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: var(--primary-accent-color);
    border-color: var(--primary-accent-color);
}

/*icons*/
.icon-social {
    display: inline-block;
    width: 40px;
    max-height: 40px;
    fill: var(--button-color);
    transition: fill 250ms var(--transition-timing-function);
}

.icon-social:hover,
.icon-social:focus {
    fill: var(--primary-accent-color);
}

.icon-social {
    display: inline-block;
    width: 40px;
    max-height: 40px;
    fill: var(--button-color);
    transition: fill 250ms var(--transition-timing-function);
}

/*company-icons*/

.company>.icon-company {
    display: block;
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    fill: #8e8f99;
    transition: fill 250ms var(--transition-timing-function);
}

.icon-company:hover,
.icon-company:focus {
    fill: var(--primary-accent-color);
    border-color: var(--primary-accent-color);
}

/*hero*/
.overlay {
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

/*features*/

.features .title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 8px;
}

/*descriptions*/
.teammate .card {
    margin-left: auto;
    margin-right: auto;
    width: 264px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
    overflow: hidden;
}

.teammate-socialmedia .link {
    display: block;
    width: 40px;
    max-height: 40px;
}

.teammates-description {
    padding: 32px 16px;
    text-align: center;
}

.teammates-description .title {
    margin-bottom: 8px;
}

.teammates-description .text {
    margin-bottom: 8px;
}

.teammate-socialmedia .item:not(:last-child) {
    margin-right: 24px;
}

/*customers*/
.customers .heading {
    text-align: center;
    margin-bottom: 72px;
}

/*footer*/

.icon-social-footer {
    width: 40px;
    height: 40px;
    fill: rgba(255, 255, 255, 0.1);

    transition: fill 250ms var(--transition-timing-function);
}

.icons-footer :hover,
.icons-foooter:focus {
    fill: var(--footer-link-color);
}

.icon-social:hover,
.icon-social:focus {
    fill: var(--primary-accent-color);
}

.footer-content .logo {
    margin-bottom: 16px;
    height: 21px;
}

.heading-socialmedia-footer {
    margin-bottom: 16px;
}



.icons-footer.item:not(:last-child) {
    margin-right: 16px;
}

.socialmedia-footer .list {
    display: flex;
    justify-content: center;
}

.text-subscribe {
    color: var(--primary-white-color);
    margin-bottom: 16px;
    font-weight: 500;
}

.submit-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-white-color);
    border: 1px solid var(--button-color);
    border-radius: 4px;
    background-color: var(--button-color);
    width: 165px;
    height: 40px;
    padding: 8px 10px 8px 24px;
}

.subscribe-icon {
    margin-right: 5px;
    margin-left: 16px;
    fill: var(--primary-white-color);
}

.mail {
    display: block;
    background-color: var(--title-text-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    height: 40px;
}

.mail:focus,
.mail:hover {
    border: 1px solid var(--button-color);
    transition: border 250ms var(--transition-timing-function);
}

.footer {
    background-color: var(--title-text-color);
}

.footer-content .text {
    color: var(--accent-color);
    text-align: left;
}

.footer-content .logo {
    color: var(--footer-logo-color);
    display: block;
    line-height: 1.21;
}

.socialmedia-footer .heading-socialmedia-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
}

.icons-footer>.link {
    display: block;
    width: 40px;
    height: 40px;
}

/* modal window */

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 250ms var(--transition-timing-function);
    overflow-y: scroll;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: 584px;
    width: 408px;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    background-color: var(--primary-white-color);
    transition: transform 250ms var(--transition-timing-function);
}

.button-modal-close {
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: #000000;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 8px;
    line-height: 0;
    transition: color 250ms var(--transition-timing-function),
        background-color 250ms var(--transition-timing-function);
}

.closebutton {
    fill: currentColor;
}

.button-modal-close:active {
    color: var(--primary-white-color);
    background-color: var(--primary-accent-color);
}

.textarea-comment {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: 0;
}

.text-comment {
    display: block;
    margin-bottom: 4px;
}

.tel-input {
    margin-bottom: 26px;
}

.email-inpuit {
    margin-bottom: 8px;
}

.name-input {
    margin-bottom: 26px;
}

.form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    margin-right: 0px;
}

.call-modal {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-bottom: 34px;
}

.form-modal input {
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 100%;
}

.chekbox-modal input {
    height: 16px;
    width: 16px;
}

.text-policy {
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.04em;
}

.chekbox-modal {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.04em;
    width: 100%;
}

.link-modal-policy {
    color: var(--button-color);
    margin-left: 3px;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.04em;
}

input {
    outline: 0;
}

.form-modal label,
.text-comment,
.textarea-comment {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.171;
    letter-spacing: 0.01em;
}

.form-modal .name-form {
    line-height: 1.333;
    letter-spacing: 0.04em;
}

.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    transform: translate(-41px, -35px);
}

.form-field:focus-within .textarea-comment {
    border: 1px solid var(--button-color);
    transition: border 250ms var(--transition-timing-function);
}

.form-field:focus-within input {
    border: 1px solid var(--button-color);
    transition: border 250ms var(--transition-timing-function);
}

.form-input {
    padding-left: 38px;
}

.commentbox {
    height: 138px;
    margin-bottom: 16px;
}

.form-field {
    position: relative;
    width: 100%;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    transition: transform 250ms var(--transition-timing-function);
}

.form-field .icon {
    position: absolute;
    top: 14px;
    left: 19px;
    display: inline-block;
    width: 12px;
    height: 12px;
}

.form-input:focus~.icon {
    fill: var(--button-color);
    transition: fill 250ms var(--transition-timing-function);
}

.icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1.25px solid black;
    border-radius: 2px;
    margin-right: 8px;
}

.input-checkbox:checked+.icon-checkbox {
    background-image: url('../svg/click.svg');
    background-size: contain;
    background-origin: border-box;
    border: none;
}

.input-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 8px;
    position: absolute;
}

/*portfolio*/

.filter .button {
    font-weight: 500;
    letter-spacing: 0.0037em;
}

.section-filter .button {
    padding: 8px 16px;
    color: var(--button-color);
    background-color: var(--primary-white-color);
    border: 1px solid var(--button-border);
    border-radius: 4px;
    transition: color 250ms var(--transition-timing-function),
        background-color 250ms var(--transition-timing-function),
        border-color 250ms var(--transition-timing-function),
        box-shadow 250ms var(--transition-timing-function);
}

.section-filter .button:hover,
.section-filter .button:focus {
    color: var(--primary-white-color);
    background-color: var(--primary-accent-color);
    border: 1px solid var(--primary-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*samples portfolio*/
.samples>.item {
    margin-bottom: 48px;
    transition: box-shadow 250ms var(--transition-timing-function);
}

.samples>.item:hover,
.samples>.item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.samples-content {
    padding: 32px 0px 32px 16px;
}

.section-samples .heading-samples {
    margin-bottom: 8px;
}

.thumb {
    border: 1px solid rgba(77, 90, 229, 0.1);
    border-bottom: none;
    overflow: hidden;
}

/*nav header*/
.nav-site .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--title-text-color);
    transition: color 250ms var(--transition-timing-function);
}

.section-contacts .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color);
    transition: color 250ms var(--transition-timing-function);
}

/*descriptions*/
.section-description .heading {
    text-align: center;
}

.teammate-socialmedia {
    display: flex;
}