@media screen and (max-width: 767px) {

    /*header*/
    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .nav-site {
        display: none;
    }

    .section-contacts {
        display: none;
    }

    .wrapper-logo-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .mobile-menu-open__icon {
        position: absolute;
        top: 0px;
        left: 0px;
        stroke: black;
    }

    .mobile-menu-open {
        position: relative;
        width: 32px;
        height: 22px;
        border: none;
        background-color: transparent;
        padding: 0;
    }

    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: var(--primary-white-color);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms var(--transition-timing-function),
            visibility 250ms var(--transition-timing-function);
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu-container {
        max-width: 428px;
        position: relative;
        padding: 80px 35px 40px 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-menu-close-btn {
        background-color: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        color: #000000;
        position: absolute;
        top: 24px;
        right: 24px;
        padding: 7px;
        line-height: 0;
        width: 24px;
        height: 24px;
        transition: color 250ms var(--transition-timing-function),
            background-color 250ms var(--transition-timing-function);
    }

    .mobile-menu-close-icon {
        fill: currentColor;
    }

    .mobile-menu-close-btn:hover,
    .mobile-menu-close-btn:active {
        color: var(--primary-white-color);
        background-color: var(--primary-accent-color);
    }

    .mobile-menu-items-nav .link,
    .mobile-menu-email>.link {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
    }

    .mobile-menu-items-nav .link:hover,
    .mobile-menu-items-nav .link:hover:active,
    .mobile-menu-email>.link:hover,
    .mobile-menu-email>.link:active,
    .mobile-menu-phone>.link:hover,
    .mobile-menu-phone>.link:active {
        color: var(--primary-accent-color);
    }


    .mobile-menu-items-nav:not(:last-child) {
        margin-bottom: 40px;
    }

    .mobile-menu-list-nav {
        margin-bottom: 284px;
    }

    .mobile-menu-phone {
        margin-bottom: 48px;
    }

    .mobile-menu-email {
        margin-bottom: 40px;
    }

    .mobile-menu-phone>.link {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
    }

    .mobile-menu-list-socialmedia {
        display: flex;
        justify-content: space-between;
    }

    .mobile-menu-item-socialmedia .link {
        width: 40px;
        max-height: 40px;
        display: flex;
    }

    /*features*/

    .features .title {
        font-weight: 700;
    }

    .item-features>.text {
        font-weight: 500;
    }

    .section-features {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .section-features .list {
        display: block;
    }

    .item-features:not(:last-child) {
        margin-bottom: 72px;
    }

    .section-service {
        display: none;
    }

    /*descriptions*/
    .section-description .heading {
        text-align: center;

        margin-bottom: 72px;
    }

    .section-description {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .teammate .card.item:not(:last-child) {
        margin-bottom: 72px;
    }

    /* section customers */
    .customers-company {
        padding-top: 96px;
        padding-bottom: 96px;
    }


    .customers-list {
        display: flex;
        flex-wrap: wrap;
        margin: -8px;
        justify-content: space-evenly;
    }

    .customers-list>.item {
        width: calc((100% - 4 * 8px) / 2);
        margin: 8px;
    }

    .customers-list .item:not(:nth-last-child(-n+2)) {
        margin-bottom: 64px;
    }

    .company>.icon-company {
        width: 190px;
    }

    /*footer*/
    .footer {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .submit-footer {
        margin: 0 auto;
    }

    .mail {
        color: var(--primary-white-color);
        width: 100%;
        margin-bottom: 16px;
    }

    .footer-content .text {
        padding-left: 64px;
    }

    .socialmedia-footer {
        margin-bottom: 72px;
    }

    .footer-double-box {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-box {
        margin-bottom: 72px;
    }

    /*Portfolio*/
    .filter {
        display: flex;
        flex-wrap: wrap;
    }

    .filter .item:not(:nth-of-type(3n+1)) {
        margin-left: 24px;
    }

    .filter .item:not(:nth-of-type(3n+4)) {
        margin-bottom: 16px;
    }

    .filter .item:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    .section-filter {
        padding: 48px 149px 48px 0px;
    }

    .section-service .heading {
        text-align: center;
        margin-bottom: 72px;
    }

    .service-box {
        padding-bottom: 120px;
    }

    /* hero */
    .heading-hero {
        margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.11;
    }

    .hero-box {
        text-align: center;
    }

    .overlay {
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../img/hero-mobile.jpg');
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 480px;
    }

    /* samples portfolio*/
    .work-samples {
        display: flex;
        justify-content: space-between;
    }

    .samples-box {
        padding-bottom: 120px;
    }

    .samples-box .list {
        display: flex;
        flex-wrap: wrap;
    }

    .thumb-overlay {
        display: none;
    }
}


@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution:192dpi) and (max-width: 767px),
screen and(min-resolution: 2dppx) and (max-width: 767px) {
    .overlay {
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../img/hero-mobile@2x.jpg');
    }
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
}