@media screen and (min-width: 1200px) {
    .container {
        width: 1160px;
    }

    /*header*/
    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .section-contacts {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }

    .section-contacts>.item {
        height: 24px;
        margin-bottom: 0;
    }

    .section-contacts .link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }

    .section-contacts .item:first-child {
        margin-right: 40px;
    }

    .nav-site {
        display: flex;
        margin-left: 76px;
    }

    .wrapper-logo-nav {
        display: flex;
        align-items: center;
        max-width: 1128px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-site .item:not(:last-child) {
        margin-right: 40px;
    }

    /*hero*/
    .overlay {
        max-width: 1600px;
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../img/hero_desktop.jpg');
        padding-top: 188px;
        padding-bottom: 188px;
    }

    /*section-features*/
    .section-features {
        padding-top: 120px;
        padding-bottom: 232px;
    }

    .section-features .list {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .features .item {
        width: 264px;
    }

    .antenna::before {
        background-image: url('../svg/antenna.svg');
    }

    .clock::before {
        background-image: url('../svg/clock.svg');
    }

    .diagram::before {
        background-image: url('../svg/diagram.svg');
    }

    .astronaut::before {
        background-image: url('../svg/astronaut.svg');
    }

    .features>.item::before {
        display: block;
        content: '';
        height: 112px;
        margin-bottom: 8px;
        background-size: 64px 64px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .features>.item-features {
        margin: 0;
        height: 112px;
    }

    .features .item:not(:last-child) {
        margin-right: 24px;
    }

    .features .title {
        margin-bottom: 8px;
    }

    /*section-service*/
    .section-service {
        display: block;
        padding-bottom: 120px;
    }

    .section-service .heading {
        /*eto zdelal*/
        text-align: center;
        margin-bottom: 72px;
    }

    .work-samples {
        display: flex;
        align-items: center;
    }

    .work-samples>.item:not(:last-child) {
        margin-right: 24px;
    }

    /*description*/
    .section-description {
        padding-top: 0;
        padding-bottom: 120px;
    }

    /*footer*/
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-double-box {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 0;
    }

    .footer-box {
        margin-right: 120px;
    }

    .socialmedia-footer {
        margin-right: 80px;
    }

    .footer-content {
        margin-bottom: 0;
    }

    .footer-content>.logo {
        line-height: 1.1666;
        height: 24px;
    }

    /*portfolio*/
    .section-filter {
        padding-top: 100px;
        padding-bottom: 72px;
    }

    .work-samples {
        display: flex;
        justify-content: space-between;
    }

    .samples-box {
        padding-bottom: 120px;
    }

    .samples-box .list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -24px;
        margin-top: -48px;
        height: auto;
    }

    .samples>.item {
        width: calc(100%/3 - 24px);
        margin: 0px 0px 48px 24px;
        transition: box-shadow 250ms var(--transition-timing-function);
    }

    .samples>.item:hover,
    .samples>.item:focus {
        box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
    }

    .samples-content {
        padding: 32px 0px 32px 16px;
        border-bottom: 1px solid #E7E9FC;
        border-right: 1px solid #E7E9FC;
        border-left: 1px solid #E7E9FC;
    }

    .section-samples .heading-samples {
        margin-bottom: 8px;
    }

    .thumb {
        position: relative;
        overflow: hidden;

    }

    .thumb:hover::before {
        opacity: 1;
    }

    .thumb-text:hover {
        opacity: 1;
    }

    .thumb-text {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--footer-logo-color);
        padding: 40px 32px 164px 32px;
        opacity: 0;
    }

    .thumb-overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--button-color);

        transform: translatey(100%);
        transition: transform 250ms var(--transition-timing-function);
    }

    .thumb>img {
        display: block;
    }

    .thumb::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: var(--button-color);
        opacity: 0;
        position: absolute;
    }

    .thumb:hover .thumb-overlay {
        transform: translateX(0);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and(min-resolution: 2dppx) and (min-width: 1200px) {
    .overlay {
        max-width: 1600px;
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../img/hero_desktop@2x.jpg');
    }
}
